@media screen and (max-width: 600px) {
	.no-mobile-support {
		background-color: #ffc;
	}
}

td.table-listing-header {
	background-color: #ccc;
}

.table-listing-odd-row {
	background-color: #eee;
}

.table-listing-even-row {
	background-color: #fff;
}

table.table-record a.required {
	color: #c00;
}

td.update-selection-header {
	background-color: #ccc;
}

.highlight-error {
	color:tomato;
}

.highlight-warning {
	color:orange;
}

.highlight-success {
	color:steelblue;
}
