
/* ============ Font URLs ============ */

/* This script is generated dynamically with the base URL of the given site */

/* Font Family DM Sans */
@font-face {
	font-family: DMSans;
	src: url('#/common_scripts/fonts/DMSans-Regular.woff2') format('woff2');
}
@font-face {
	font-family: DMSans;
	src: url('#/common_scripts/fonts/DMSans-Bold.woff2') format('woff2');
	font-weight: bold;
}
@font-face {
	font-family: DMSans;
	src: url('#/common_scripts/fonts/DMSans-Italic.woff2') format('woff2');
	font-style: italic;
}
@font-face {
	font-family: DMSans;
	src: url('#/common_scripts/fonts/DMSans-BoldItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: bold;
}

/* Font Family Noto Sans */
@font-face {
	font-family: NotoSans;
	src: url('#/common_scripts/fonts/subset-NotoSans-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face {
	font-family: NotoSans;
	src: url('#/common_scripts/fonts/subset-NotoSans-Bold.woff2') format('woff2');
	font-weight: bold;
    font-display: swap;
}
@font-face {
	font-family: NotoSans;
	src: url('#/common_scripts/fonts/subset-NotoSans-Italic.woff2') format('woff2');
	font-style: italic;
    font-display: swap;
}
@font-face {
	font-family: NotoSans;
	src: url('#/common_scripts/fonts/subset-NotoSans-BoldItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: bold;
    font-display: swap;
}

/* Font Family Azeret Mono */
@font-face {
	font-family: AzeretMono;
	src: url('#/common_scripts/fonts/AzeretMono-Regular.woff2') format('woff2');
}
@font-face {
	font-family: AzeretMono;
	src: url('#/common_scripts/fonts/AzeretMono-Bold.woff2') format('woff2');
	font-weight: bold;
}
@font-face {
	font-family: AzeretMono;
	src: url('#/common_scripts/fonts/AzeretMono-Italic.woff2') format('woff2');
	font-style: italic;
}
@font-face {
	font-family: AzeretMono;
	src: url('#/common_scripts/fonts/AzeretMono-BoldItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: bold;
}
